@import url(https://fonts.googleapis.com/css?family=Oxygen);

@mainGreen:#cadb2c;
@bgColor:white;
@offWhite:#e6e6e6;
@shadow:#6d6d6d;

body{
	span{
		//font-family: 'Comfortaa', cursive;
		//font-family: 'Lora', serif;
		font-family: 'Raleway', sans-serif;
	}
	p{
		//font-family: 'Comfortaa', cursive;
		//font-family: 'Lora', serif;
		font-family: 'Raleway', sans-serif;
	}
	form{
		font-family: 'Raleway', sans-serif;
	}
	button{
		font-family: 'Raleway', sans-serif;
	}
}
.container{
	max-width:960px;
}
.navbar-inverse .navbar-toggle .icon-bar {
  //background-color: #fff;
  background-color:black!important;
}
#spacer{
	background-color:black;
	height:61px;
}
.spacer2{
	height:50px;
	background-color:red;
	display:block;
}
.grayscale{
	-webkit-filter:grayscale(1);
	z-index:-1;
}
.blur-1{
	-webkit-filter:blur(1px);
}
.blur-2{
	-webkit-filter:blur(2px);
}
.blur-3{
	-webkit-filter:blur(3px);
}
.blur-4{
	-webkit-filter:blur(4px);
}
.blur-5{
	-webkit-filter:blur(5px);
}
.start{
	height:10px;
	background-color:red;
}
.subSection{
	padding:50px 0px 80px 0px;
	position:relative;
	overflow:auto;
	.backgroundImg{
		position:relative;
		object-fit:cover;
		-webkit-filter:grayscale(1) blur(6px);
		width:100%;
		height:100%;
	}
	.background{
		display:none;
		position:absolute;
		width:110%;
		height:110%;
		z-index:-1;
		top:-5px;
		left:-50px;
	}
	.subSectionContent{
		overflow:hidden;
	}
	#trueNovelty{float:left;}
	#epicDances{float:right;}
	#martialArts{float:left;}
	#stunts{float:right;}
	#mythicalRolePlays{float:left;}
	#bands{float:right;}
	#musicians{float:left;}
	.subSectionImgFrame{/*recommended ratio: 1.48988*/
		padding:0px;
		height:350px;
		overflow:visible;
	}
	.subSectionImg{
		max-height:90%;
		width:95%;
		box-shadow:7px 7px 7px @shadow;
	}
	.subSectionTextArea{
		position:relative;
		top:50%;
		transform:translateY(-50%);
	}
	.subSectionText{
		font-size:16px;
		line-height:200%;
		display:block;
		position:relative;
		top:50%;
	}
}
#test{
	position:relative;
	top:50%;
}
.subHeader{
	font-size:30px;
	text-align:center;
	padding:0px 0px 50px 0px;
}
#nav > div > div.navbar-collapse.collapse.in > ul li a{
}
#nav > div > div.navbar-collapse.collapse > ul li a{
}
#nav{
	background-color:@mainGreen;
	border-bottom:2px solid black;
	min-height:0px;
	.container{
		font-size:10px;
		text-align:center;
		padding:0px;
		#navItems{
			background-color:@mainGreen;
			max-height:initial;
			#logo{
				padding-bottom:10px;
				img{
					height:30px;
				}
			}
		}
		#collapsedNavbar{
			background-color:@mainGreen;
			text-align:center;
			#toggleButton{
				position:fixed;
				top:60px;
				left:-15px;
				background-color:@mainGreen;
				margin-left:15px;
				opacity:0.4;
				color:black;
			}
			#collapsedLogo{
				width:100%;
				padding:15px 30px 10px 20px;
			}
		}
		#navItems{
			ul{
				li{
					vertical-align:middle;
					a{
						//color:darkgreen;
						color:black;
						font-weight:bold;
						height:100%;
						display:block;
					}
					a:hover{
						background-color:black;
						color:@mainGreen;
					}
					a:focus{
						background-color:black;
						color:@mainGreen;
					}
				}
			}
			#logo{
				padding-top:5px;
			}
		}
	}
}
.intro{
	text-align:center;
	font-weight:100;
	position:relative;
	overflow:hidden;
	.introText{
		/*
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);*/
		font-size:40px;
		font-weight:200;
		color:@mainGreen;
		//color:yellow;
		display:block;
		padding:50px 0px 50px 0px;
		text-shadow:2px 2px black;
		//text-shadow: 3px 3px 5px @mainGreen;
		z-index:1;
		span{

		}
	}
}
.intro2{
	font-size:40px;
	font-weight:300;
}
.banner{
	height:100%;
	//width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	.bannerImg{
		position:relative;
		top:-30%;
		left:-5%;
		width:110%;
	}
}
.bannerImg2{
		object-fit:cover;
		width:100%;
		height:110%;
		object-position:0px -50px;
		-webkit-filter:blur(4px) grayscale(1);
		position:relative;
		top:-5px;
		display:block;
}

#homeSlideshow{
	text-align:center;
	padding-bottom:30px;
	position:relative;
	overflow:hidden;
	#slideshowBackground{
		border:none;
		position:absolute;
		top:-10px;
		left:-10px;
		width:110%;
		height:110%;
		z-index:-1;
		overflow:hidden;
		#slideshowBackgroundImg{
			width:100%;
			height:100%;
		}
	}
	.container{
		//padding-top:50px;
		//slideshowScreen ratio: 0.5575;
		#slideTitle{
			display:block;
			font-size:40px;
			font-weight:300;
			color:@mainGreen;
			padding:30px 0px 30px 0px;
			text-shadow:2px 2px black;
		}
		#slideshowScreen{
			position:relative;
			width:100%;
			height:0;
			padding-bottom:55.7%;
			overflow:hidden;
			background-color:black;
			z-index:1;
			.slideContent{
				width:100%;
				//border:10px solid @mainGreen;
				//border-radius:90px;
				visibility:none;
				position:absolute;
				top:0px;
				left:0px;
				z-index:2;
			}
			#slideText{
				color:yellow;
				font-size:30px;
				z-index:3;
				position:absolute;
				top:20px;
				left:50px;
			}
			.slideshowArrow{
				font-size:20px;
				font-weight:bold;
				color:@mainGreen;
				cursor:pointer;
				position:absolute;
				top:50%;
				transform:translateY(-50%);
				padding:30px 20px 30px 20px;
				transition: 0.6s ease;
				opacity:0.4;
				z-index:4;
			}
			.slideshowArrow:hover{
				text-decoration:none;
				color:black;
				background-color:@mainGreen;
				opacity:0.7;
			}
			.prev{
				left:0%;
				border-radius:0px 10px 10px 0px;
			}
			.next{
				right:0%;
				border-radius:10px 0px 0px 10px;
			}
		}
		div ul{
			padding:0px;
			li{
				display:inline-block;
				padding:15px 5px 0px 5px;
				.slidePicker{
					cursor:pointer;
					display:inline-block;
					background-color:white;
					border-radius:15px;
					height:15px;
					width:15px;
					//padding-top:15px;
				}
			}
		}

	}
}
#whatWeDo{
	.subSectionText{
		text-align:center;
		span{
			font-size:20px;
			line-height:200%;
		}
	}
}
.serviceCard2{
	background-color:grey;
	height:105%;
	box-shadow: 7px 7px 5px @shadow;
}
.serviceCard{
	//background-color:grey;
	display:inline-block;
	position:relative;
	padding-bottom:35px;
	//box-shadow:2px 2px 5px black ;
	span{
		//display:block;
	}
	img{
		width:100%;
	}
	.serviceCardText{
		padding:20px;
		color:white;
	}
	.serviceCardLink{
		height:35px;
		width:100%;
		background-color:@mainGreen;
		font-size:12px;
		display:block;
		position:absolute;

		.learnMore{
			display:block;
			color:grey;
			font-size:14px;
			font-weight:bold;
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
		}
	}
}

#footer{
	span{
		//font-family:arial;
	}
	background-color:#1a1a1a;
	color:white;
	.container{
		padding:0px 100px 0px 100px;
	}
	a{
		color:white;
		text-decoration:none;
	}
	.footerListTitle{
		padding-bottom:20px;
		span{
			font-size:12px;
			font-weight:bold;
		}
	}
	.footerCol{
		color:white;
		padding:0px;
		font-size:10px;
		padding:50px 10px 50px 10px;
	}
	.footerList{
		color:lightgrey;
		display:block;
	}
	.plus{
		display:none;
	}
}
#partners{
	background-color:#737373;

}
#copyright{
	height:40px;
	background-color:#1a1a1a;
	position:relative;
	.container{

	}
	span{
		color:grey;
		font-size:10px;
		position:absolute;
		display:block;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}
}

.clientLogo{
	height:210px;
	padding:30px 30px 30px 30px;
	position:relative;
	a{
		display:block;
		position:relative;
		height:100%;
		width:100%;
	}
	.clientLogoPic{
		position:relative;
		object-fit:contain;
		height:70%;
		width:100%;
	}
}
#contactText1{
	text-align:center;
	font-size:26px;
}
.contactForm1{
	text-align:center;
	padding:50px 0px 50px 0px;
}
.form1{
	width:100%;
	font-size:14px;
}
.textBox1, .msgBox1{
	//width: 400px;
	height: 29px;
	border-radius: 3px;
	border: 1px solid #CCC;
	padding: 8px;
	font-weight: 200;
	font-size: 15px;
	font-family: Verdana;
	box-shadow: 2px 2px 5px #6d6d6d;
	float:none;
}
.msgBox1{
	height:100px;
}
.submitButton{
	color:black;
	font-size:16px;
	//text-shadow:2px 2px 5px white;
	font-weight:bold;
	width:20%;
	height:50px;
	background-color:@mainGreen;
	border:0px solid grey;
	border-radius:4px;
	box-shadow:2px 2px 5px #6d6d6d;
}
.submitButton:hover{
	background-color:#bfd025;
	box-shadow:4px 4px 10px #6d6d6d;
}



/*
ANIMATIONS---------------------------------
*/
.fade{
	animation-name:slideFade;
	animation-duration:2s;
	animation-fill-mode:forwards;
}
@keyframes slideFade{
	from {opacity:0.2}
	to {opacity:1}
}

/*
MEDIA QUERIES--------------------------------
*/
@media(max-width:991px){/*col-sm width*/
	.intro{
		.introText{
			font-size:40px;
			padding:25px 0px 25px 0px;
		}
	}
	#homeSlideshow{
		.container{
			#slideTitle{
				font-size:40px;
			}
		}
	}
	.serviceCard{
		margin-bottom:20px;
	}
}
@media(max-width:767px){/*col-xs width (mobile)*/
	#collapsedNavbar{
	}
	#logo{
		display:none;
	}
	.intro{
		.introText{
			font-size:28px;
			padding:20px 0px 20px 0px;
		}
	}
	#homeSlideshow{
		.container{
			#slideTitle{
				font-size:28px;
			}
		}
	}
	#whatWeDo{
		.subSectionText{
			text-align:center;
			span{
				font-size:15px;
				line-height:140%;
			}
		}
	}
	.subSection{
		.container{
			margin:0px 10px 0px 10px;
			.subSectionContent{
				overflow:visible;
				#trueNovelty{float:left;}
				#epicDances{float:left;}
				#martialArts{float:left;}
				#mythicalRolePlays{float:left;}
				#stunts{float:left;}
				#bands{float:left;}
				#musicians{float:left;}
				.subSectionTextArea{
					transform:translateY(0%);
				}
				.subSectionText{
					padding:30px 20px 30px 20px;
				}
			}
		}
	}
	#services{
		.container{
			padding:0px;
			margin:0px;
		}
	}
	.serviceCard{
		margin-bottom:30px;
	}
	.banner{
		.bannerImg{
			top:-10%;
		}
		.bannerImg2{
			object-fit:cover;
			width:100%;
			object-position:0px 0px;
		}
	}
	#footer{
		.container{
			padding:20px;
		}
		.footerCol{
			//padding:25px;
			padding:5px 25px 5px 25px;
		}
		a{
			cursor:pointer;
		}
		.footerListTitle{
			border-bottom:1px solid grey;
			padding-bottom:0px;
			span{
				font-size:16px;

			}
			.plus{
				font-size:20px;
				float:right;
				display:inline;
			}

		}
		.footerList{			
			font-size:16px;
			padding-left:15px;
		}
	}
	#copyright{
		text-align:center;
		.container{

		}
		span{
			width:100%;
		}
	}

	.clientLogo{
		height:100px;
		padding:5px 5px 5px 5px;
		position:relative;
		a{
			display:block;
			position:relative;
			height:100%;
			width:100%;
		}
		.clientLogoPic{
			position:relative;
			object-fit:contain;
			height:70%;
			width:100%;
		}
	}

}