@import url(https://fonts.googleapis.com/css?family=Oxygen);

@mainGreen:#cadb2c;
@bgColor:white;

body{
	span{
		//font-family: 'Oxygen', sans-serif;
		//font-family: 'Roboto', sans-serif;
		font-family: 'Comfortaa', cursive;
		//font-family: 'Poiret One', cursive;
	}
}
.container{
	padding:0px!important;
	max-width:960px;
}
.navbar-inverse .navbar-toggle .icon-bar {
  //background-color: #fff;
  background-color:black!important;
}
#spacer{
	background-color:black;
	height:61px;
}
.spacer2{
	height:50px;
	background-color:red;
	display:none;
}
.start{
	height:10px;
	background-color:red;
}
.subSection{
	padding:50px 0px 50px 0px;
}
.subHeader{
	font-size:30px;
	text-align:center;
	padding:0px 0px 30px 0px;
}
#nav > div > div.navbar-collapse.collapse.in > ul li a{
}
#nav > div > div.navbar-collapse.collapse > ul li a{
}
.test{
	//padding-top:50px;
}
#nav{
	background-color:@mainGreen;
	border-bottom:2px solid black;
	.container{
		background-color:yellow;
		font-size:10px;
		text-align:center;
		max-width:960px;
		#navItems{
			background-color:@mainGreen;
			max-height:initial;
			#logo{
				padding-bottom:10px;
				img{
					height:30px;
				}
			}
		}
		#collapsedNavbar{
			background-color:@mainGreen;
			text-align:center;
			#toggleButton{
				position:fixed;
				top:60px;
				background-color:@mainGreen;
				margin-left:15px;
				opacity:0.8;
				color:black;
			}
			#collapsedLogo{
				width:100%;
				padding:15px 30px 10px 20px;
			}
		}
		#navItems{
			ul{
				li{
					vertical-align:middle;
					a{
						//color:darkgreen;
						color:black;
						font-weight:bold;
						height:100%;
						display:block;
					}
					a:hover{
						background-color:black;
						color:@mainGreen;
					}
					a:focus{
						background-color:black;
						color:@mainGreen;
					}
				}
			}
			#logo{
				padding-top:5px;
			}
		}
	}
}
.intro{
	//height:150px;
	text-align:center;
	font-weight:200;
	position:relative;
	//background-color:darkred;
	.introText{
		/*
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);*/
		font-size:45px;
		color:black;
		display:block;
		padding:30px 0px 10px 0px;

	}
}

#homeSlideshow{
	background-color:white;
	//background-image:url("../img/fireworks.jpg");
	text-align:center;
	padding-bottom:30px;
	.container{
		//slideshowScreen ratio: 0.5575;
		.slideshowScreen{
			position:relative;
			width:100%;
			border-radius:100px;
			border:10px solid @mainGreen;
			overflow:hidden;
			background-color:white;
			z-index:1;
			.slideContent{
				width:100%;
				border:5px solid grey;
				border-radius:90px;
				visibility:none;
			}
			.slideshowArrow{
				font-size:20px;
				font-weight:bold;
				color:white;
				cursor:pointer;
				position:absolute;
				top:50%;
				transform:translateY(-50%);
				padding:30px 20px 30px 20px;
				transition: 0.6s ease;
				opacity:0.4;
			}
			.slideshowArrow:hover{
				text-decoration:none;
				background-color:black;
				opacity:0.7;
			}
			.prev{
				left:0%;
				border-radius:0px 10px 10px 0px;
			}
			.next{
				right:0%;
				border-radius:10px 0px 0px 10px;
			}
		}
		div ul{
			padding:0px;
			li{
				display:inline-block;
				padding:15px 5px 0px 5px;
				.slidePicker{
					cursor:pointer;
					display:inline-block;
					background-color:white;
					border-radius:15px;
					height:15px;
					width:15px;
					//padding-top:15px;
				}
			}
		}

	}
}

.serviceCard{
	background-color:grey;
	display:inline-block;
	img{
		width:100%;
	}
	.serviceCardText{
		padding:20px;
		color:white;
	}
	.serviceCardLink{
		height:35px;
		width:100%;
		background-color:@mainGreen;
		font-size:12px;
		display:block;
		position:relative;
		.learnMore{
			display:block;
			color:grey;
			font-size:14px;
			font-weight:bold;
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
		}
	}
}



/*
ANIMATIONS---------------------------------
*/
.fade{
	animation-name:slideFade;
	animation-duration:2s;
	animation-fill-mode:forwards;
}
@keyframes slideFade{
	from {opacity:0.2}
	to {opacity:1}
}

/*
MEDIA QUERIES--------------------------------
*/
@media(max-width:991px){/*col-sm width*/
	.intro{
		.introText{
			font-size:40px;
			padding:25px 0px 8px 0px;
		}
	}
	.serviceCard{
		margin-bottom:20px;
	}
}

@media(max-width:767px){/*col-xs width (mobile)*/
	#collapsedNavbar{
	}
	#logo{
		display:none;
	}
	.intro{
		.introText{
			font-size:28px;
			padding:20px 0px 5px 0px;
		}
	}
	.serviceCard{
		margin-bottom:30px;
	}
}