/*
ANIMATIONS---------------------------------
*/
@import url(https://fonts.googleapis.com/css?family=Oxygen);
body span {
  font-family: 'Comfortaa', cursive;
}
body p {
  font-family: 'Comfortaa', cursive;
}
.container {
  max-width: 960px;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black!important;
}
#spacer {
  background-color: black;
  height: 61px;
}
.spacer2 {
  height: 50px;
  background-color: red;
  display: none;
}
.start {
  height: 10px;
  background-color: red;
}
.subSection {
  padding: 50px 0px 50px 0px;
}
.subHeader {
  font-size: 30px;
  text-align: center;
  padding: 0px 0px 30px 0px;
}
#nav {
  background-color: #cadb2c;
  border-bottom: 2px solid black;
}
#nav .container {
  font-size: 10px;
  text-align: center;
  padding: 0px;
}
#nav .container #navItems {
  background-color: #cadb2c;
  max-height: initial;
}
#nav .container #navItems #logo {
  padding-bottom: 10px;
}
#nav .container #navItems #logo img {
  height: 30px;
}
#nav .container #collapsedNavbar {
  background-color: #cadb2c;
  text-align: center;
}
#nav .container #collapsedNavbar #toggleButton {
  position: fixed;
  top: 60px;
  left: 0px;
  background-color: #cadb2c;
  margin-left: 15px;
  opacity: 0.8;
  color: black;
}
#nav .container #collapsedNavbar #collapsedLogo {
  width: 100%;
  padding: 15px 30px 10px 20px;
}
#nav .container #navItems ul li {
  vertical-align: middle;
}
#nav .container #navItems ul li a {
  color: black;
  font-weight: bold;
  height: 100%;
  display: block;
}
#nav .container #navItems ul li a:hover {
  background-color: black;
  color: #cadb2c;
}
#nav .container #navItems ul li a:focus {
  background-color: black;
  color: #cadb2c;
}
#nav .container #navItems #logo {
  padding-top: 5px;
}
.intro {
  text-align: center;
  font-weight: 200;
  position: relative;
  background-color: #e6e6e6;
}
.intro .introText {
  /*
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);*/

  font-size: 40px;
  color: black;
  display: block;
  padding: 30px 0px 10px 0px;
}
#homeSlideshow {
  background-color: black;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
#homeSlideshow .container .slideshowScreen {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: black;
  z-index: 1;
}
#homeSlideshow .container .slideshowScreen .slideContent {
  width: 100%;
  visibility: none;
}
#homeSlideshow .container .slideshowScreen .slideshowArrow {
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  padding: 30px 20px 30px 20px;
  transition: 0.6s ease;
  opacity: 0.4;
}
#homeSlideshow .container .slideshowScreen .slideshowArrow:hover {
  text-decoration: none;
  background-color: black;
  opacity: 0.7;
}
#homeSlideshow .container .slideshowScreen .prev {
  left: 0%;
  border-radius: 0px 10px 10px 0px;
}
#homeSlideshow .container .slideshowScreen .next {
  right: 0%;
  border-radius: 10px 0px 0px 10px;
}
#homeSlideshow .container div ul {
  padding: 0px;
}
#homeSlideshow .container div ul li {
  display: inline-block;
  padding: 15px 5px 0px 5px;
}
#homeSlideshow .container div ul li .slidePicker {
  cursor: pointer;
  display: inline-block;
  background-color: white;
  border-radius: 15px;
  height: 15px;
  width: 15px;
}
.serviceCard {
  background-color: grey;
  display: inline-block;
  position: relative;
  padding-bottom: 25px;
}
.serviceCard img {
  width: 100%;
}
.serviceCard .serviceCardText {
  padding: 20px;
  color: white;
}
.serviceCard .serviceCardLink {
  height: 35px;
  width: 100%;
  background-color: #cadb2c;
  font-size: 12px;
  display: block;
  position: absolute;
}
.serviceCard .serviceCardLink .learnMore {
  display: block;
  color: grey;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#footer {
  background-color: #1a1a1a;
  color: white;
}
#footer .container {
  padding: 0px 100px 0px 100px;
}
#footer a {
  color: white;
  text-decoration: none;
}
#footer .footerListTitle {
  padding-bottom: 20px;
}
#footer .footerListTitle span {
  font-size: 12px;
  font-weight: bold;
}
#footer .footerCol {
  color: white;
  padding: 0px;
  font-size: 10px;
  padding: 50px 10px 50px 10px;
}
#footer .footerList {
  color: lightgrey;
  display: block;
}
#footer .plus {
  display: none;
}
#partners {
  background-color: #737373;
}
#copyright {
  height: 40px;
  background-color: #1a1a1a;
  position: relative;
}
#copyright span {
  color: grey;
  font-size: 10px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*
ANIMATIONS---------------------------------
*/
.fade {
  animation-name: slideFade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes slideFade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
/*
MEDIA QUERIES--------------------------------
*/
@media (max-width: 991px) {
  /*col-sm width*/
  .intro .introText {
    font-size: 40px;
    padding: 25px 0px 8px 0px;
  }
  .serviceCard {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  /*col-xs width (mobile)*/
  #logo {
    display: none;
  }
  .intro .introText {
    font-size: 28px;
    padding: 20px 0px 5px 0px;
  }
  .subSection .container {
    margin: 0px 10px 0px 10px;
  }
  #services .container {
    padding: 0px;
    margin: 0px;
  }
  .serviceCard {
    margin-bottom: 30px;
  }
  #footer .container {
    padding: 20px;
  }
  #footer .footerCol {
    padding: 5px 25px 5px 25px;
  }
  #footer a {
    cursor: pointer;
  }
  #footer .footerListTitle {
    border-bottom: 1px solid grey;
    padding-bottom: 0px;
  }
  #footer .footerListTitle span {
    font-size: 16px;
  }
  #footer .footerListTitle .plus {
    font-size: 20px;
    float: right;
    display: inline;
  }
  #footer .footerList {
    font-size: 16px;
    padding-left: 15px;
  }
  #copyright {
    text-align: center;
  }
  #copyright span {
    width: 100%;
  }
}
